.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; /* Center items horizontally */
     align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center;
    height: auto;
}

nav {
    align-items: start;
    width: 75%;
    margin-top: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 45px;
    max-width: 80%;
    margin-top: 10%;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.info-text h1 {
    font-size: 3.4rem;
    margin-bottom: 10px;
}

.info-text h1 span {
    color: #FFAC47;
}

.info-text p {
    max-width: 90%;
    color: #2f2f2f;
    margin-bottom: 30px;
}

.social {
    margin-bottom: 40px;
}


.social a {
    margin-right: 25px;
}

.img{
    border-radius: 20px 0 20px 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 996px) {
    .info {
        grid-template-columns: auto;
    }

    .img{
        margin-top: 50px;
    }

    .img-con {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
        float: right;
        font-size: 1rem !important;
    }
    nav ul {
        display: none;
    }
    .active {
        display: block;
        position: absolute;
    }

    nav ul li {
        display: block;
        padding: 10px;
        margin-bottom: 2px;
        background-color: rgb(231, 231, 231);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}